.hero-section {
  width: 100%;
  min-height: 100vh; /* ensures at least full viewport */
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center; /* horizontal center */
   /* space for navbar */
  margin: 0;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  margin-top: 102px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-right: 5px;
}

.hero-logo {
  width: 70vw;
  max-width: 1800px;
  height: auto;
  animation: fadeInUp 1s ease-out;
}

.hero-gif {
  width: 250px;
  max-width: 50vw;
  height: auto;
  animation: float 4s ease-in-out infinite;
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Responsive */
@media (max-width: 1024px) {
  .hero-content{

    margin-top: 0px;
  }
  
  .hero-logo {
    width: 80vw;
    max-width: 1400px;
  }
  .hero-gif {
    width: 200px;
  }
}

@media (max-width: 768px) {
  
  .hero-logo {
    width: 85vw;
    max-width: 700px;
  }
  .hero-gif {
    width: 160px;
  }
}

@media (max-width: 480px) {
  
  .hero-logo {
    width: 85vw;
    max-width: 500px;
  }
  .hero-gif {
    width: 130px;
  }
}

@media (max-width: 360px) {
  
  a .hero-logo {
    width: 98vw;
    max-width: 400px;
  }
  .hero-gif {
    width: 110px;
  }
}
